:root {
    /*colors*/
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-ExtraBold.ttf');
    font-weight: 800;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 0.938rem;
    line-height: 1.5rem;
    color: var(--dark-grayish-blue);
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.content {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

.header {
    padding: 1.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(100%);
    transition: transform 0.4s, background-color 2s;
}

[data-open="true"] {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.5);
}

.hamburger {
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.hamburger img {
    pointer-events: none;
}

.navigation > ul {
    width: 65%;
    height: 100%;
    position: fixed;
    right: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation ul li:first-child {
    margin-top: -25%;
}

.navigation ul li a {
    padding: 0.75rem 0 0.75rem 1rem;
    display: block;
    font-size: 1.25rem;
    color: var(--very-dark-blue);
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: var(--soft-red);
}

.main {
    padding: 1rem 0 5rem 0;
}

.main-article img {
    width: 100%;
}

.main-article h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.main-article p {
    margin-top: 1rem;
}

.main-article a {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    background-color: var(--soft-red);
    font-size: 0.813rem;
    letter-spacing: 0.2rem;
    color: var(--off-white);
    text-transform: uppercase;
    transition: background-color 0.4s;
}

.main-article a:hover {
    background-color: var(--very-dark-blue);
}

.new {
    margin-top: 4rem;
    padding: 1.25rem;
    background-color: var(--very-dark-blue);
}

.new h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--soft-orange);
}

.new ul {
    margin-top: 2rem;
}

.new ul li:not(:last-child) {
    padding-bottom: 1.75rem;
}

.new ul li p {
    margin-top: 0.5rem; 
    color: var(--grayish-blue);
}

.new ul li:not(:last-child) {
    border-bottom: 1px solid var(--grayish-blue);
}

.new ul li:not(:first-child) > h3 {
    margin-top: 1.75rem;
}

.new ul li a {
    color: var(--off-white);
    transition: color 0.4s;
}

.new ul li a:hover {
    color: var(--soft-orange);
}

/* Media Queries */

@media screen and (min-width: 768px) {

    p {
        font-size: 1rem;
    }

    .header {
        padding: 3rem 0;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        width: unset;
        height: unset;
        position: unset;
        background-color: unset;
        transform: unset;
    }

    .navigation ul {
        width: unset;
        position: unset;
        flex-direction: row;
    }

    .navigation ul li:first-child {
        margin-top: 0;
    }

    .navigation ul li:not(:last-child) {
        margin-right: 2rem;
    }

    .main-article {
        display: grid;
        column-gap: 2rem;
        grid-template-areas: 
            "img img"
            "title para"
            "title button";
    }

    .main-article picture {
        grid-area: img;
    }

    .main-article h2 {
        grid-area: title;
        font-size: 3.5rem;
    }

    .main-article p {
        grid-area: para;
    }

    .main-article a {
        grid-area: button;
        justify-self: start;
        align-self: end;
        font-size: 1rem;
        padding: 1rem 2.25rem;
    }
}

@media screen and (min-width: 1200px) {

    p {
        font-size: 1.125rem;
    }

    .header {
        padding-top: 4.5rem;
    }

    .main {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .main-article {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .new {
        margin-top: unset;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}